html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg,#009f89 0px, #009f89 130px,#dfdfdf 131px, #dfdfdf 100%);
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    position: relative;
    width: calc(100%-200px);
    height: 600px;
    margin: 3vh 100px;
    /* background: #eee; */
    box-shadow: 0px 0px 1px grey, 0px 0px 5px grey;
    background: url("../images/whatsapp_bg_2.jpg");
    /* background-attachment: fixed; */
    background-size: contain;
    /* background-color: rgba(0,0,0,0.2); */
    background-color: #e5ded4;
    background-blend-mode: multiply;
}

.head{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ededed;
    box-shadow: 0px 1px 1px #bbb;
    font-size: 18px;
}

.head i{
    color: #999;
}

.head .left-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100%;
    border-right: 1px solid #ccc;
}

.head .left-head img{
    width: 45px;
    border-radius: 50%;
    margin-left: 15px;
}

.head .left-head .left-head-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    margin-right: 10px;
}

.head .right-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
}

/* Dropdown menu */
/* 
.dropdown{
    position: relative;
    display: block;
} */

.dropdown-menu{
    /* visibility: hidden; */
    display: block;
    position: absolute;
    border-radius: 5px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #efefef;
    right: 20px;
    top: 62px;
}

.dropdown-menu a{
    width: 100%;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    border-bottom:1px solid #e0e0e0;
}

.dropdown-menu a:hover{
    background-color: #e0e0e0;
}

.fa-menu:hover .dropdown-menu{
    display: block;
}

.right-head-left-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.right-head-left-icons img{
    width: 45px;
    border-radius: 50%;
    margin-left: 25px;
}

.right-head-right-icons{
    display: flex;
    justify-content: space-around;
    width: 80px;
}

.left-side{
    width: 350px;
    height: 90%;
    background: #fff;
    /* box-shadow: 0px 0px 1px grey, 0px 0px 2px grey; */
}

.left-side .header-chats{
    position: relative;
    width: 100%;
    height: 8%;
    background: #ddd;
    padding: 5px 10px;
    /* border-bottom: 1px solid #eee; */
}

.left-side .header-chats i{
    position: absolute;
    padding: 9px 14px;
    color: #999;
}

.chat-search{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0px 45px;
    color: #333;
}

.chats-container{
    width: 100%;
    height: 92%;
    overflow: auto;
}

.left-side .chats{
    width: 100%;
    min-height: 50px;
    padding: 15px 5px 15px 15px;
    border-bottom: 1px solid #eee;
}

.chats{
    display: flex;
    justify-content: space-between;
}

.chats:hover{
    background-color: #eee;
}

.chats img{
    width: 40px;
}

.chats-text{
    width: 84%;
}


.chats-text p span{
    float: right;
}

/* 
.fa-search{
    font-weight: 400;
} */

.type-something{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0px;
    min-width: 801px;
    background-color: #eee;
    height: 60px;
    padding: 10px 20px;
}

.type-something i{
    color: #555;
    background-color: #eee;
    font-size: 21px;
}

.type-something input{
    height: 100%;
    width: 86%;
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #555;
}

.card-chats-send{
    position: absolute;
    max-width: 500px;
    /* height: 60px; */
    border-radius: 6px;
    background-color: #d2ffc4;
    padding: 8px 20px;
    right: 20px;
    bottom: 100px;
    box-shadow: 0px 1px 2px #999;
}

.first-send{
    right: 20px;
    bottom: 150px;
}

.second-send{
    right: 20px;
    bottom: 100px;
}


.card-chats-send p i{
    color: green;
    float: right;
    margin-left: 60px;
}

.card-chats-receive{
    position: absolute;
    max-width: 500px;
    /* height: 60px; */
    border-radius: 6px;
    background-color: #eee;
    padding: 8px 20px;
    box-shadow: 0px 1px 2px #999;
    left: 370px;
    bottom: 240px;
    padding-bottom: 10px;
}

.card-chats-receive p sub{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.sub-time-send{
    position: absolute;
    right: 45px;
    bottom: 5px;
}

i:hover{
    cursor: pointer;
}

.online{
    font-size: 13px;
    color: #555;
    overflow-x: hidden;
}
